@import 'tailwindcss';
@plugin "daisyui" {
  themes: false;
}

@theme {
  --color-body-bg: #e0e0e0;
  --color-card-bg: white;
  --color-base: #fff;
  --color-anti-base: #000;
  --color-h1: #000;
  --color-h2: #000;
}
:root[data-theme='dark'] {
  --color-body-bg: #1a1d23;
  --color-card-bg: #1a1d23;
  --color-base: #000;
  --color-anti-base: #fff;
}
